@font-face {
  font-family: PontanoSans;
  src: url(../PontanoSans.ttf);
}
* {
  font-family: PontanoSans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3A0842;
  padding: 1em;
  font-size: 2em;
  color: white;
  font-weight: 1000;
  text-align: center;
}

.nav {
  display: block;
  background-color: #F1E4E8;
  padding: 1em;
}
.nav h2 {
  color: #3A0842;
  text-align: center;
  font-size: 1.5em;
}
.nav .projects {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #A675A1;
  border-radius: 0.5em;
  margin-top: 0.5em;
}
.nav .projects:hover {
  background-color: #aa52a1;
  cursor: pointer;
}
.nav .projects p {
  color: white;
  margin: 0.5em 0;
  padding: 0 1em;
}
.nav .projects button {
  display: flex;
  justify-content: center;
  background-color: none;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  font-weight: 1000;
  margin: 0 1em 0 0;
}
.nav .projects button:hover {
  cursor: pointer;
}
.nav button {
  color: white;
  background-color: #A675A1;
  font-weight: 600;
  width: 100%;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
}
.nav button:hover {
  background-color: #aa52a1;
  cursor: pointer;
}
.nav #add_project.hide {
  display: none;
}
.nav #project_input {
  display: none;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  background-color: #A675A1;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0;
}
.nav #project_input button {
  display: flex;
  justify-content: center;
  background-color: none;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  font-weight: 1000;
  margin: 0 1em 0 0;
}
.nav #project_input button:hover {
  cursor: pointer;
}
.nav #project_input #project_title {
  max-width: 9em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  margin-left: 1em;
  border: none;
  border-radius: 0.5em;
}
.nav #project_input.show {
  display: flex;
}

.todoes {
  color: white;
  display: grid;
  grid-template-columns: 5vw minmax(auto, 90vw) 5vw;
  padding: 1em;
}
.todoes .wrapper {
  grid-column: 2/3;
  text-align: center;
}
.todoes h1 {
  text-align: center;
  font-size: 1.5em;
}
.todoes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.todoes .add-task-btn {
  color: white;
  background-color: #009FFD;
  border: none;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
}
.todoes .add-task-btn:hover {
  background-color: #0090e4;
  cursor: pointer;
}
.todoes .remove-task-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  font-weight: 1000;
  border: none;
}
.todoes .remove-task-btn:hover {
  cursor: pointer;
}

.add-task-btn.hide {
  display: none;
}

#title {
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

#date {
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

.add-cancel-buttons {
  display: flex;
  justify-content: space-between;
}
.add-cancel-buttons button {
  width: 10em;
  border: none;
  border-radius: 0.5em;
}
.add-cancel-buttons button:hover {
  cursor: pointer;
}
.add-cancel-buttons .add {
  font-weight: 1000;
  color: white;
  background-color: #009FFD;
}
.add-cancel-buttons .add:hover {
  background-color: #0090e4;
}
.add-cancel-buttons .cancel {
  font-weight: 1000;
  background-color: red;
  color: white;
}
.add-cancel-buttons .cancel:hover {
  background-color: rgb(212, 0, 0);
}

#add_new {
  display: none;
}

#add_new.show {
  display: block;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: #A675A1;
  padding: 0 1em;
  border-radius: 0.5em;
  align-items: center;
  margin-bottom: 0.75em;
}
.task p {
  margin: 0.5em;
}

.new-task-wrapper {
  background-color: #A675A1;
  padding: 0 1em;
  border-radius: 0.5em;
  align-items: center;
  margin-bottom: 0.75em;
}
.new-task-wrapper .new-task {
  display: flex;
  justify-content: space-between;
}
.new-task-wrapper .input-required {
  display: none;
  color: yellow;
  text-align: left;
  margin: 0;
  padding-bottom: 0.5em;
}

.input-required.show {
  display: block;
}

/* media queries */
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
  }
  .todoes {
    grid-template-columns: 20vw minmax(auto, 60vw) 20vw;
  }
  .nav {
    width: 300px;
    min-width: 250px;
    min-height: calc(100vh - 105px);
  }
}/*# sourceMappingURL=style.css.map */