$headerColor: #3A0842;
$headerColorHover: #f86767;
$navBtn: #A675A1;
$navBtnHover: #aa52a1;
$navLight: #F1E4E8;
$mainColor: #fefae0;
$addTaskText: white;
$addTask: #009FFD;
$addTaskHover: #0090e4;
$cancelBtn: red;
$cancelBtnhover: rgb(212, 0, 0);
$textBtnColors: white;
$tasksBackground: #A675A1;
$taskTexts: white;

@font-face {
  font-family: PontanoSans;
  src: url(../PontanoSans.ttf);
}

* {
  font-family: PontanoSans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;  
}

@mixin centerize {
  display: flex;
  justify-content: center;
}

body {  
  margin: 0;
  padding: 0;
}

header {
  background-color: $headerColor;
  padding: 1em;
  font-size: 2em;
  color: $textBtnColors;
  font-weight: 1000;
  text-align: center;
}

.nav {  
  display: block;
  background-color: $navLight;
  padding: 1em;
  h2 {
    color: $headerColor;
    text-align: center;
    font-size: 1.5em;
  }
  .projects {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    background-color: $navBtn;
    border-radius: 0.5em;
    margin-top: 0.5em;
    &:hover {
        background-color: $navBtnHover;
        cursor: pointer;
      }
    p {
      color: $textBtnColors;
      margin: 0.5em 0;
      padding: 0 1em;
    }
    button { 
      @include centerize();
      background-color: none;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      font-weight: 1000;
      margin: 0 1em 0 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  button {
    color: $textBtnColors;
    background-color: $navBtn;
    font-weight: 600;
    width: 100%;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    &:hover {
      background-color: $navBtnHover;
      cursor: pointer;
    }
  }
  #add_project.hide{
    display: none;
  }
  #project_input {
    display: none;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    background-color: $navBtn;
    border-radius: 0.5em;
    margin-top: 0.5em;
    padding: 0;
    button {
      @include centerize();
      background-color: none;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      font-weight: 1000;
      margin: 0 1em 0 0;
      &:hover {
        cursor: pointer;
      }
    }
    #project_title {      
      max-width: 9em;
      margin: 0.5em 0;
      padding: 0 .5em;
      margin-left: 1em;
      border: none;
      border-radius: 0.5em;
    }
  }
  #project_input.show {
    display: flex;
  }
}


.todoes {
  color: $taskTexts;
  display: grid;
  grid-template-columns: 5vw minmax(auto, 90vw) 5vw;
  padding: 1em;
  .wrapper {
    grid-column: 2/3;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .add-task-btn {
    color: $addTaskText;
    background-color: $addTask;
    border: none;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    width: fit-content;
    font-weight: 900;
    &:hover {
      background-color: $addTaskHover;
      cursor: pointer;
    }
  }
  .remove-task-btn {
    color: $taskTexts;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-weight: 1000;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.add-task-btn.hide {
  display: none;
}

#title {
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

#date {
  border: none;
  border-radius: 0.5em;
  margin: 0.5em 0;
}

.add-cancel-buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 10em;
    border: none;
    border-radius: 0.5em;
    &:hover {
      cursor: pointer;
    }
  }
  .add {
    font-weight: 1000;
    color: $textBtnColors;
    background-color: $addTask;
    &:hover {
      background-color: $addTaskHover;
    }
  }
  .cancel {
    font-weight: 1000;
    background-color: $cancelBtn;
    color: white;
    &:hover {
      background-color: $cancelBtnhover;
    }
  }
}

#add_new {
  display: none;
}
#add_new.show {
  display: block;
}

.task {
  display: flex;
  justify-content: space-between;  
  background-color: $tasksBackground;
  padding: 0 1em;
  border-radius: 0.5em;
  align-items: center;
  margin-bottom: 0.75em;
  p {
    margin: 0.5em;  
}
}


.new-task-wrapper {  
  background-color: $tasksBackground;
  padding: 0 1em;
  border-radius: 0.5em;
  align-items: center;
  margin-bottom: 0.75em;
  .new-task {
    display: flex;
    justify-content: space-between;
  }
  .input-required {
    display: none;
    color: yellow;
    text-align: left;
    margin: 0;
    padding-bottom: .5em;   
  }
}
.input-required.show {
    display: block;      
  }

/* media queries */

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
  }
  .todoes {
    grid-template-columns: 20vw minmax(auto, 60vw) 20vw;
  }
  .nav {
    width: 300px;
    min-width: 250px;
    min-height: calc(100vh - 105px);
  }
}
