$headerColor: #fc8585;
$headerColorHover: #f86767;
$navBtn: #ffc86d;
$navBtnHover: #ffaf2e;
$navLight: #fbdba2;
$mainColor: #f6eadb;
$addTask: #85cbd9;
$addTaskHover: #44c2db;

@font-face {
  font-family: PontanoSans;
  src: url(../PontanoSans.ttf);
}

* {
  font-family: PontanoSans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}

@mixin centerize {
  display: flex;
  justify-content: center;
}

body {
  background-color: $mainColor;
  margin: 0;
  padding: 0;
}

header {
  background-color: $headerColor;
  padding: 1em;
  font-size: 2em;
  color: white;
  font-weight: 1000;
  text-align: center;
}

.nav {
  display: block;
  background-color: $navLight;
  padding: 1em;
  h2 {
    text-align: center;
    font-size: 1.5em;
  }
  .projects {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    background-color: $navBtn;
    border-radius: 0.5em;
    p {
      margin: 0.5em 0;
      padding: 0 1em;
    }
    button {
      @include centerize();
      background-color: none;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      font-weight: 1000;
      margin: 0 1em 0 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  button {
    background-color: $navBtn;
    font-weight: 600;
    width: 100%;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    &:hover {
      background-color: $navBtnHover;
      cursor: pointer;
    }
  }
}

.todoes {
  display: grid;
  grid-template-columns: 5vw minmax(auto, 90vw) 5vw;
  padding: 1em;
  .wrapper {
    grid-column: 2/3;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .add-task-btn {
    background-color: $addTask;
    border: none;
    padding: 0.5em 3em;
    border-radius: 0.5em;
    width: fit-content;
    font-weight: 600;
    &:hover {
      background-color: $addTaskHover;
      cursor: pointer;
    }
  }
  .remove-task-btn {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    font-weight: 1000;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.add-task-btn.hide {
  display: none;
}

#title {
  border: none;
  border-radius: 0.5em;
  margin: .5em 0
}

#date {
  border: none;
  border-radius: 0.5em;
  margin: .5em 0
}

.add-cancel-buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 10em;
    border: none;
    border-radius: 0.5em;
    &:hover {
      cursor: pointer;
    }
  }
  .add {
    background-color: $addTask;
    &:hover {
      background-color: $addTaskHover;
    }
  }
  .cancel {
    background-color: $headerColor;
    color: white;
    &:hover {
      background-color: $headerColorHover;
    }
  }
}

#add_new {
  display: none;
}
#add_new.show {
  display: block;
}

.task {
  background-color: $navBtnHover;
  padding: 0 1em;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75em;
  p {
    margin: 0.5em;
  }
}

/* media queries */

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
  }
  .todoes {
    grid-template-columns: 20vw minmax(auto, 60vw) 20vw;
  }
  .nav {
    width: 300px;
    min-width: 250px;
    min-height: calc(100vh - 105px);
  }
}
